/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .brand-colors-admin-page .admin-description {
     margin: 20px 0;
 }

.set-colors-form fieldset {
    margin: 20px 0;
}
 .set-colors-form .colorpicker-container span{
     display: inline-block;
     position: relative;
     top: -10px;
 }


/* media queries */
@media (min-width:768px) {
     .brand-colors-admin-page .admin-description {
         width: 50%;
     }
}
